body{
    background: rgb(115, 221, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}
body h1 {
    font-size: 3rem;
    color: aliceblue;
    text-transform: uppercase;
}
body h4 {
    color: aliceblue;
}
div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.5rem;
    
}
.dugme {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div button {
    margin: 2rem 4rem;
    padding: 2rem 4rem;
    border-radius: 20px;
    color: rgb(115, 221, 172);
    font-size: 1.7rem;
    font-weight: bold;
    outline-style: none;
}



